*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: ;
}
.container{
    max-width: 1260px;
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    margin: auto;
}
.header_supwrap {
    display: flex;
    align-items: center;
    gap: 50px;
}
.header_supwrap nav ul{
    display: flex;
    align-items: center;
    gap: 28px;
    list-style-type: none;
}
.header_supwrap nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 19px;
    font-weight: 500;
    transition: 0.4s;
}
.btns{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 26px;
}
button:hover{
    background-color: rgb(129, 122, 122);
    color: white;
}
.btns button{
    width: 40px;
    height: 40px;
    border-radius: 12px;
    padding: 10px 15px;
    border: none;
    box-shadow: 0 5px 15px gray;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btns .big_btn{
    width: 162px;
    height: 40px;
    display: flex;
    justify-content: space-between;
}
.header_supwrap nav ul li a:hover{
    color: #ffa630;
}
.header_supwrap nav ul li a{
    transition: width 1s;
}
.line{
    height: 2px;
    background-color: rgb(229, 229, 229);
}
.banner{
    height: 600px;
    background-image: url(../assets/icon/foto/interactive.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: start;
    justify-content: center;
    padding-top: 85px;
    margin-left: -30px;
}
.banner .title{
    width: 506px;
    margin: 85px 0 150px 0;
    text-align: center;
    margin-left: 250px;
}
.banner .title h1{
    line-height: 44px;
    font-weight: 600;
    font-size: 36px;
}
.banner .title p{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin: 40px 0 20px 0;
}
.banner .title .banner_btn_wrap{
    display: flex;
    align-items: center;
    justify-content: center;
}
.bg_button{
    width: 171px;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(16, 187, 135);
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
.banner .title span{
    position: relative;
}
.banner .title .sub_line{
    width: 130px;
    height: 6px;
    background-color: #ffa630;
    display: inline-block;
    position: absolute;
    top: 33px;
    right: -5px;
    z-index: -1;
}
.feedback{
     margin-left: 50px;
}
.feedback .wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 130px;
}
.feedback .wrap .title_description{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 44px;
}
.advantage{
    width: inherit;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
    margin-left: 0px;
}
.advantage .box{
    width: 252px;
    height: 150px;
}
.advantage .box p{
    line-height: 20px;
    color: gray;
}
.mug_banner{
    position: relative;
    display: flex;
}
.left{
    width: 807px;
    height: 384px;
    background-color: #10bb87;
    position: absolute;
    right: -30px;
    bottom: -450px;
    border-radius: 15px 0 0 15px;
}
.left img{
    margin-top: 5%;
    position: absolute;
    right: 0;
}
.mug{
    position: absolute;
    top: 200px;
    left: 100px;
}
.mug_title{
    position: absolute;
    left: 650px;
    top: 100px;
    z-index: 1;
}
.mug_banner .right .mug_title .bg_button{
    background-color: white;
    color: black;
}
.mug_banner .right .mug_title .bg_button:hover{
    background-color: gray;
    color: black;
}
.mug_title h1{
    color: white;
}
.mug_title p{
    color: gray;
}
.mini{
    position: absolute;
    top: 290px;
    left: 160px;
}
.populars{
    margin-top: 750px;
    width: 1080px;
    height: 542px;
    position: relative;
}
.cards{
    display: flex;
    justify-content: space-between;
}
.card{
    width: 195px;
    height: 312px;
    margin-top: 70px;
}
.cards .card button{
    width: 162px;
    height: 40px;
    border-radius: 10px;
    border: none;
    margin: 15px 0px;
}
.card_bt{
    background-color: #10bb87;
    color: white;
}
.cards :nth-child(3){
    margin-top: 50px;
}
.sub_line2{
    width: 100px;
    height: 8px;
    background-color: #ffa630;
    position: absolute;
    top: 70px;
    z-index: -1;
}
.items{
    width: 960px;
    height: 322px
}
.items_cards{
    display: flex;
    justify-content: space-between;
    margin-top: 62px;
}
.items .items_title{
    display: flex;
    align-items: center;
    margin-top: 100px;
}
.items .items_title button{
    width: 40px;
    height: 40px;
    border-radius: 15px;
    border: none;
    margin-left: 28px;
}
.items .items_card{
    width: 192px;
    height: 218px;
}
.items .items_card button{
    width: 162px;
    height: 40px;
    border-radius: 10px;
    border: none;
    margin: 15px 0px;
}
.items .items_card p{
    color: gray;
}
.osnovnoe_buttons{
    margin-top: 150px;
    margin-left: 50px;
}

.osnovnoe_buttons .osnovnoe_title{
    display: flex;
    align-items: center;
    justify-content: start;
}
.osnovnoe_buttons .osnovnoe_title button{
    width: 40px;
    height: 40px;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
    margin-left: 28px;
}
.osnovnoe_buttons .boxs button{
    width: 96px;
    height: 96px;
    background-color: #f2f2f2;
    border-radius: 25px;
    border: none;
}
.box_5{
        display: flex;
        gap: 100px;
        margin-top: 50px;
}
.box_6{
    display: flex;
    gap: 100px;
    margin-top: 50px;
    margin-left: 100px;
}
 p{
    font-weight: 700;
    margin-left: 15px;
    margin-top: 20px;
}
.third_banner{
   width: 1163px;
   height: 597px;
   margin-left: -30px;
   margin-top: 130px;
}
.bgr{
    width: 1955px;
    height: 343px;
    background-image: url(../assets/icon/foto/background.png);
    background-repeat: no-repeat;
    display: flex;
}
.third_banner .bgr img{
    margin-left: 83px;
    margin-top: 50px;
}
.third_banner .bgr .bgr_foto h2{
    margin-left: 83px;
    color: white;
    margin-top: 12px;
}
.third_banner .bgr .bgr_foto p{
    margin-left: 83px;
    margin-top: 5px;
    color: gray;
}
.bgr_title{
   margin-top: 50px;
   margin-left: 45px;
   color: white;
}
.bgr_title h1{
    line-height: 32px;   
}
.bgr_title p{
    line-height: 20px;
}
.bgr_2{
   margin-top: 176px;
   margin-left: -650px;
}
.bgr_3{
    margin-top: 230px;
    margin-left: -650px;
}
.titles{
    display: flex;
    align-items: center;
    gap: 60px;
    margin-left: 103px;
}
.news{
    position: relative;
}
.under_line{
    width: 110px;
    height: 6px;
    background-color: #ffa630;
    position: sticky;
    right: 900px;
    top: 32px;
    z-index: -1;
}
.line_1{
    width: 448px;
    height: 2px;
    background-color: gray;
    margin-top: 70px;
}
.news_2{
    margin-top: 10px;
}
.titles .news p{
    margin-left: -1px;
    color: gainsboro;
}
.date{
    display: flex;
    align-items: center;
    gap: 30px;
}
.titles .news .date p{
    color: #10bb87;
}
.titles .news .date img{
    margin-top: 15px;
}
.titles .news_2 h1{
    color: #fff;
}
.titles .news_2 p{
    margin-left: -1px;
    color: gainsboro;
}
.titles .news_2 .date p{
    color: #10bb87;
}
.titles .news_2 .date img{
    margin-top: 15px;
}
.select{
    display: flex;
    gap: 60px;
    margin-left: 103px;
    margin-top: 100px;
}
.selectr{
    width: 458px;
   flex-wrap: wrap;
   margin-top: 70px;
}
select{
    margin-top: 5px;
    width: 448px;
    height: 62px;
    
}
.unw{
    color: #fff;
}
.inputs{
    width: 960px;
    height: 248px;
    background-color: #10bb87;
    border-radius: 25px;
    display: flex;
    margin-top: 100px;
    margin-left: 100px;
}
.inputs_title{
    margin-left: 96px;
    margin-top: 50px;
}
.inputs_title h1{
    margin-left: 10px;
    color: white;
}
.inputs_title p{
    color: gray;
    margin-top: 44px;
}
.input_{
    margin-top: 40px;
}
input{
    width: 324px;
    height: 40px;
    border-radius: 10px;
    border: none;
    margin-left: 100px;
}
.input_ label{
    margin-left: 100px;
    margin-top: 50px;
}
.tex{
    width: 256px;
}
.input_btn input{
    width: 45px;
    height: 45px;
    margin-top: 160px;
    margin-left: -50px;

}
footer{
    width: 1260px;
    height: 566px;
    background-color: #f2f2f2;
    margin-left: -30px;
    margin-top: 140px;
    display: grid;
    grid-template-areas: 
    "nav li li li " "nav li li li"
    "nav li li li" "foot foot foot foot"
    ;
}
.nav{
    grid-area: nav;
    margin-top: 50px;
    margin-left: -50px;
}
.li_{
    grid-area: li;
    margin-top: 30px;
    margin-left: 50px;
}
.foot{
    grid-area: foot;
}
.nav img{
    margin-left: 83px;
}
.li_ ul{
    margin-top: 20px;
}
footer .li_ ul {
  display: flex;
  align-items: center;
  gap: 109px;
}
footer .li_ ul .line_1{
    margin-top: -5px;
    margin-left: 10px;
}
footer .li_ ul{
    list-style: none;
}
footer .li_ ul li a{
    text-decoration: none;
    color: black;
}
.line_4{
   width: 800px;
   background-color: gray;
   height: 2px;
}
.btn_f{
    margin-top: 10px;
}
.btn_f button{
    width: 50px;
    height: 50px;
    border-radius: 15px;
    background: #fff;
    border: none;
    margin-left: 33px;
}
.foot{
    margin-top: 70px;
}
footer .foot .mas {
    display: flex;
    align-items: center;
    gap: 139px;
    margin-top: -50px;
    margin-left: 150px;
  }
  footer .foot ul{
      list-style: none;
  }
  footer .foot ul li a{
      text-decoration: none;
      color: black;
  }
  .num1{
    display: flex;
    gap: 100px;
    margin-left: 330px;
    margin-top: 10px;
  }
.num{
   margin-top: 110px; 
   margin-left: -100px;
   display: flex;
   gap: 100px ;
  }